@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


    /* header section start */


.header-container {
    max-width: 1250px;
    margin: 50px auto;
    display: flex;
}



.travel-logo {
    min-height: 60px;
    display: flex;
    align-items: center;
    width: 50%;
}


.travel-logo h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 20px;
}

.special {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}


.travel-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special-list {
    color: #FF5400;
    text-align: center;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
}

.travel-list a{
    text-decoration: none;
    color:  #424247;
    font-size: 18px;
    font-weight: 400;
}



/* Explore section start */


.container {
    max-width: 1250px;
    margin: 0 auto;
}

.explore-travel {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    min-height: 60vh
}


.explore-travel-description {
    text-align: center;
}


.explore-travel-description h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
}

.explore-content {
    margin-top: 50px;
    padding-top: 105px;
}


.explore-travel-description p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 675px;
    margin: 40px auto;
}

.explore-input {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.30);
}


.explore-input input {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.explore-input button {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 60px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #FF5400;
    margin-left: 10px;
}







/* our popular tour section start */


.popular-tours {
    display: flex;
    margin-top: 100px;

}

.our-popular-content {
    width: 50%;
}

.our-popular-content * {
    margin-bottom: 25px;
}

.our-popular-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.our-popular-content ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-left: 25px;
    line-height: 30px;
}

.our-popular-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}


.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.our-popular-img {
    width: 50%;
    padding-left: 80px;
}


/* Choose Your Destination style start */

.your-destination {
    text-align: center;
    margin-top: 80px;
}

.your-destination h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.your-destination h4{
    color: #FF5400;
    font-size: 25px;
    font-weight: 800;
}

.your-destination p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 640px;
    margin: 20px auto;
}

.destination-area img{
    height: 100%;
    width: 100%;

}


.destination-area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
}


.box1{
    grid-column: 1/span 6;
}
.box2{
   grid-column: 7/span 12;
}

.box3{
    grid-column: 1/span 4;
}

.box4{
    grid-column: 5/span 5;
}

.box5{
    grid-column: 10/span 12;
}
.box6{
    grid-column: 1/span 5;
}
.box7 {
    grid-column: 6/span 12;
}




    /* why choose us style */


.why-choose-content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}


.why-choose {
    text-align: center;
    margin-top: 100px;
}

.why-choose * {
    margin-bottom: 25px;
}
.why-choose h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}



.why-choose p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 645px;
    margin: 0 auto;
    line-height: 26px;
}



.why-choose-box {
    width: 48%;
    padding: 40px 40px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why-choose-box * {
    margin-bottom: 20px;
}

.why-choose-box img {
    height: 60px;
}

.why-choose-box h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.why-choose-box p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.why-choose-box2 {
    width: 48%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}


.why-choose-box2 h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.why-choose-box2 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.why-choose-box2 img {
    height: 65px;
}

.why-choose-box2 * {
    margin-bottom: 20px;
}

.why-choose-box3 {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 40px;
    margin: 25px auto;
}

.why-choose-box3 *{
    margin-bottom: 20px;
}


.why-choose-box3 img{
    height: 70px;
}



.why-choose-box3 h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.why-choose-box3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



    /* perfect place style start */

.see-all {
    margin-top: 50px;
    text-align: center;
}

.simple-perfect-place {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.simple-content {
    width: 48%;
}

.simple-content * {
    margin-bottom: 30px;    
}

.simple-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.simple-content p{
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px; 
}

.simple-content ul li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 26px;
}

.simple-views {
    width: 48%;
    
}

.simple-views video {
   width: 100%;
   border-radius: 8px;
}


    /* news letter section style start */

.newsletter-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


.newsletter-input {
    width: 45%;
    height: 420px;
    border: 2px solid #FF5400;
    border-radius: 8px;
    padding: 45px 40px;
}


.newsletter-input h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    
}


.newsletter-input p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    margin-top: 16px;
    margin-bottom: 20px;
}



.newsletter-input input {
    width: 415px;
    height: 55px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-input button {
    width: 415px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF5400;
    border-radius: 8px;
}




.newsletter-view {
    width: 58%;
    margin-left: 45px;
}

.newsletter-view img {
    /* width: 100%;
    height: 100%; */
    position: absolute;
}


.save {
    background-color: #FF5400;
    width: 280px;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 280px;
    left: 387px;
    transform: rotate(-22deg);
}

.save h2{
    color: #FFF;
    font-size: 25px;
    font-weight: 800;
}



.save h4{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}


    /* footer style start */

.footer-content {
        background: rgba(19, 19, 24, 0.05);
}

.social-content {
    margin-top: 100px;
    padding: 80px 0px;
}



.footer-travel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-travel h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 20px;
}


.social-icon {
    text-align: center;

}

.social-icon p{
    width: 770px;
    margin: 25px auto;
    line-height: 26px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.social-icon img {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin: 40px 0px;
}


.social-icon h5 {
    color: #131318;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
}




    /* phone responsive style here */



@media screen and (max-width: 600px) {
    .header-container, .why-choose-content,
    .simple-perfect-place, .newsletter-content
    {
        flex-direction: column;
    }
    .explore-travel, .our-popular-content, .explore-travel-description p,
    .your-destination p, .why-choose p, .why-choose-box, .why-choose-box2,
    .why-choose-box3, .simple-content, .simple-views, .social-icon p
    {
        width: 100%;
    }

    .travel-logo, .newsletter-input input, .newsletter-input button, .newsletter-input p
    {
        width: 100%;
    }
    .travel-list {
        display: none;
    }
    .explore-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .explore-content {
        padding-top: 40px;
    }

    .why-choose-box2, .simple-perfect-place {
        margin-top: 25px;
    }

    .popular-tours {
        flex-direction: column;
    }

    .newsletter-input, .newsletter-view img
    {
        width: 100%;
    }

    .newsletter-view {
        margin-left: 0px;
        width: 100%;
    }

    .our-popular-img {
        padding-left: 0px;
        width: 100%;
    }

    .our-popular-img img {
        width: 100%;
    }

    .destination-area {
        display: flex;
        flex-direction: column;
    }

    .save {
        top: 280px;
        left: 0px;
        transform: rotate(360deg);
    }


    .social-content {
        margin-top: 300px;
    }



}


    /* table responsibe style here */


@media screen and (min-width: 601px) and (max-width: 992px){
    .header-container, .popular-tours, .why-choose-content,
    .simple-perfect-place, .newsletter-content
    {
        flex-direction: column;
    }
    .explore-travel, .our-popular-content, .explore-travel-description p,
    .why-choose-box, .why-choose-box2, .why-choose-box3, .simple-content,
    .simple-views, .newsletter-input input, .newsletter-input button, .newsletter-input p,.newsletter-input,.newsletter-view img, .social-icon p
    {
        width: 100%;
    }
    .newsletter-view {
        margin-left: 0px;
    }

    .travel-logo {
        width: 100%;
    }
    .travel-list a{
        margin: 0px 15px;
    }
    .why-choose-box2, .simple-perfect-place {
        margin-top: 25px;
    }
    .explore-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .our-popular-img {
        padding-left: 0px;
        width: 100%;
    }

    .explore-content {
        padding-top: 40px;
    }

    .destination-area {
        display: flex;
        flex-direction: column;
    }
    .save {
        top: 280px;
        left: 0px;
        transform: rotate(360deg);
    }

    .social-content {
        margin-top: 520px;
    }


}


